/* NavBar.css */

.navbar {
  background-color: #ffffff;
  padding: 10px 20px;
  color: #000;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  height: 80px;  
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-logo img {
  margin-left: auto;
  width: 350px;
  height:50px;
}

.navbar-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}

.navbar-links a {
  color: #333;
  text-decoration: none;
  padding: 10px 15px;
  transition: 0.2s all ease-in-out;
  border-radius: 5px;
  margin-left: 20px;
}

.navbar-links a:hover {
  background-color: rgba(232, 26, 34, 0.1);
}

.navbar-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.navbar-toggle span {
  height: 3px;
  width: 25px;
  background-color: #000000;
  margin: 3px 0;
  display: block;
}

.navbar-button {

  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-left: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.navbar-button:hover {
background-color: rgba(232, 26, 34, 0.1);
}

@media (max-width: 768px) {
  .navbar-links {
    z-index: 2;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 5rem;
    left: 0;
    width: 100%;
    background: rgb(232, 26, 34);
    background: linear-gradient(
      123deg,
      rgba(232, 26, 34, 1) 15%,
      rgba(49, 64, 136, 1) 100%
    );
  }

  .navbar-links a {
    color: white;
    padding: 15px;
  }

  .navbar-links.active {
    display: flex;
  }

  .navbar-toggle {
    display: flex;
  }

  .navbar-logo img {
    width: 120px;
  }
}
